body {
  margin: 0;
  background-color: #121212;
  color: #edf5e1;
  font-family: "Montserrat", "League Spartan", sans-serif;
  text-align: center;
  overflow: hidden; /* Hide scrollbars */
}

a {
  color: inherit;
}

ul {
  padding-left: 0px;
}

#gameTitle {
  padding: 40px 0px 10px 0px;
  font-size: 45px;
  color: #1db954;
  font-weight: 600;
  /* font-family: "Bungee Shade", cursive; */
  font-family: "Montserrat", sans-serif;
}

.card {
  align-items: center;
  width: 175px;
  /* height: 270px; */
  background-color: #1db954;
  color: #faf9f6;
  text-align: center;
  border-radius: 10px;
  font-family: "Noto Sans", sans-serif;
}
.cardBottomRow {
  display: flex;
  justify-content: space-between;
}

.cardHeart {
  width: 25px;
  height: 25px;
}

.lastCard {
  width: 170px;
}

.cardInfoContainer {
  width: 150px;
  padding: 20px 0px;
}

.cardInfo {
  /* margin-top: 10px; */
  text-align: left;
  width: 100%;
  margin: 0px;
}

.cardTitle {
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardArtist {
  font-size: small;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #bab5b5;
}

.cardDate {
  color: #bab5b5;
  font-size: small;
}

.scroll {
  /* background-color: #333; */
  white-space: nowrap;
  overflow: hidden;
}

.timelineCard {
  /* height: 400px; */
  display: inline-block;
  /* color: white; */
  text-align: right;
  padding: 0px 14px;
  text-decoration: none;
  padding-left: 0px;
  font-weight: 600;
  font-family: "Montserrat", "Sarabun", sans-serif;
}

.timelineCards {
  width: 95%;
  margin: 0 auto;
  overflow: auto;
  height: 350px;
  overflow: auto;
  overflow-y: hidden;
}

/* .timelineCard:hover {
  background-color: #777;
} */

.cardPoster {
  padding-top: 10px;
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.nextCard {
  height: 250px;
}

.boardGame {
  height: 350px;
  /* overflow-y: hidden; */
  /* position: relative; */
  bottom: 0px;
}

.lostModal {
  background-color: #212121;
  margin: auto;
  width: 50%;
  border: 3px solid #1db954;
  padding: 10px;
  border-radius: 20px;
  padding-bottom: 20px;
}

.loseButton {
  color: black;
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  background-color: transparent;
  /* margin: 10px; */
  /* border: 2px solid #5CDB95; */
}

.shareIcon {
  width: 50px;
}

.replayIcon {
  width: 50px;
}

.cardRight {
  background-color: #212121 !important;
}

.cardWrong {
  /* background-color: #9f2d4d !important; */
  background-color: #ca1818 !important;
}

.loseTable {
  width: 100%;
}

.pause {
  position: absolute;
  right: 30px;
  top: 25px;
  width: 40px;
  height: 40px;
  color: #1db954;
  border: 3px solid #1db954;
  border-radius: 50%;
  background-color: inherit;
}

.pause:hover {
  background-color: #1db954;
  color: black;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 500px;
  background-color: #3c4b59;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  /* border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; */
}

.button {
  border-radius: 50%;
  border: none;
  background-color: inherit;
  color: #edf5e1;
}

.copyright {
  /* font-family: ; */
  font-size: 12px;
  margin-bottom: 0;
}

.modal-footer {
  display: block;
}

.owner {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  text-align: center;
  font-size: 12px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.hearts {
  width: 50px;
}

/* #shareScore{
  margin-left: 100px;
}

#playAgain{
  margin-right: 100px;
} */

@media only screen and (max-width: 1024px) {
  #gameTitle {
    font-size: 50px;
  }
  .lostModal {
    width: 90%;
    padding-bottom: 20px;
  }
  .nextCard {
    height: 250px;
  }
  .boardGame {
    height: 320px;
    padding-top: 20px;
    /* overflow-y: hidden; */
    /* position: relative; */
    bottom: 0px;
  }
  .cardPoster {
    padding-top: 5px;
    width: 180px;
  }

  .card {
    align-items: center;
    width: 200px;
    border-radius: 10px;
  }

  .lastCard {
    width: 200px;
  }

  .loseButton {
    width: 140px;
  }

  .cardInfoContainer {
    width: 180px;
  }
  .cardInfo {
    margin-top: 0px;
    font-size: 15px;
    width: 100%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
  .pause {
    top: 10px;
    right: 10px;
    font-size: 15px;
    height: 30px;
    width: 30px;
  }

  #gameTitle {
    padding-top: 50px;
    font-size: 25px;
  }

  .hearts {
    width: 30px;
  }

  h1 {
    font-size: 20px;
  }

  .lostModal {
    width: 90%;
    padding-bottom: 20px;
  }

  .loseButton {
    width: 140px;
  }

  .nextCard {
    height: 200px;
  }

  .boardGame {
    height: 300px;
    padding-top: 20px;
    /* overflow-y: hidden; */
    /* position: relative; */
    bottom: 0px;
  }

  .loseScreenWording {
    font-size: 20px !important;
  }

  .cardPoster {
    padding-top: 5px;
    width: 150px;
  }

  .lastCard {
    width: 120px;
  }

  .card {
    align-items: center;
    width: 125px;
    border-radius: 10px;
  }

  .cardInfoContainer {
    width: 115px;
    padding: 10px 0px;
  }

  .cardInfo {
    font-size: 12px;
  }

  .cardPoster {
    width: 115px;
    height: 115px;
  }

  .cardHeart {
    width: 18px;
    height: 18px;
  }
}
